@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

  }
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
}
p {
    color: var(--title);
}
 